.list-section
{
    width: 65%;
}
.list-section h1
{
    color: var(--rose-900-clr);
    margin-bottom: 32px;
}
.list-section .products-list
{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}